<head>
  <!-- Redirect to HTTPS -->
  <script>
    if ((location.protocol.toLowerCase() === 'http:') && (window.location.href.split("/")
        .indexOf("about.atomsandbits.ai") !== -1)) {
      window.location.href = 'https://about.atomsandbits.ai' +
        (location.pathname ? location.pathname : '') +
        (location.search ? location.search : '');
    }
  </script>
  <!-- Set character encoding for the document -->
  <meta charset="utf-8">
  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Document Title -->
  <title>atoms+bits</title>
  <!-- Meta Description -->
  <meta name="description" content="molecular discovery with cloud-based quantum simulations and deep learning">
  <!-- Standard favicon -->
  <link rel="icon" type="image/png" href="/logo-128.png">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700|Quicksand:300,400,500|Raleway:400,500,600|Space+Mono" rel="stylesheet">

  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function() {
      (ga.q = ga.q || [])
      .push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-109841954-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body>
  <div id="react-root">
  </div>
</body>
